.about-container {
    max-width: 800px;
    padding: 20px;
    height: auto;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .about-bg-container{
    padding: 80px;
    background-color: #ffffff;
    background-image: linear-gradient(180deg, #ffffff 0%, #6284FF 25%, #030303 100%);
    height: auto;
  }

  .about-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#6284FF;
  }
  
  .about-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  .list-items{
    font-size: 20px;
  }

  .list-item{
    margin: 10px;
  }

  .side-headings{
    font-size: 20px;
    font-weight: bold;
  }